* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Titillium Web', sans-serif;
}

form input[type=number] {
    font-size: 24px;
    display: block;
    margin: 10px auto;
    text-align: center;
    padding: 5px;
    border: 2px solid rgb(0, 230, 0);
    outline: none;
}

form div {
    text-align: center;
}

form div input[type=submit], form div input[type=button] {
    width: 90px;
    height: 38px;
    font-size: 22px;
    background-color: rgb(0, 230, 0);
    border: none;
    color: #fff;
    outline: none;
}

form div input[type=submit] {
    margin: 0 10px 15px 0;
}

form div input[type=button] {
    margin: 0 0 0 15px;
}

form div input[type=submit]:hover {
    border: 2px solid rgb(0, 230, 0);
    background-color: #fff;
    color: rgb(1, 165, 1);
}

form div input[type=button]:hover {
    border: 2px solid rgb(0, 230, 0);
    background-color: #fff;
    color: rgb(1, 165, 1);
}

#display {
    display: none;
    text-align: center;
    font-size: 22px;
    width: 400px;
    height: 150px;
    margin: auto;
    border: 2px solid rgb(0, 230, 0);
    padding: 20px;
}

#display p {
    color: #f00;
}

#display p span{
    color: #000;
}

@media only screen and (max-width: 360px){

    #display {
        font-size: 20px;
        width: 300px;
        height: 150px;
        margin: auto;
        border: 2px solid rgb(0, 230, 0);
        padding: 10px;
    }
}